# resource group in which it should be deployed
resource_group_name = "openshift"

# the Azure image ref for your uploaded image
ocp_os_image_ref="/subscriptions/AAA-BBB-CCC/resourceGroups/IMAGESTORE/providers/Microsoft.Compute/images/rhel76"

# your subscription details
rh_activation_key="ak-1"
rh_org="1234"
rh_pool_id="998877"
rh_infra_pool_id="665544"

# credentials for the registry.redhat.io account
ocp_oreg_user="1234|my-sa"
ocp_oreg_password="somepwd"

