[defaults]
remote_user=${ocp_vm_admin_name}
inventory=./inventory

library = /usr/share/ansible/openshift-ansible/roles/lib_utils/library/:/usr/share/ansible/openshift-ansible/library/
roles_path    = /usr/share/ansible/openshift-ansible/roles:./roles
host_key_checking = False
stdout_callback = skippy
forks = 20

[paramiko_connection]
pty=False

[ssh_connection]
control_path = %(directory)s/%%h-%%r
pipelining = True
