# OCP 3.11

[masters]
${ocp_cluster_prefix}-master-[1:${ocp_master_count}].${ocp_dns_zone_name} openshift_node_group_name='node-config-master'
[masters:vars]
rhsub_ak=${rh_activation_key}
rhsub_orgid=${rh_org}
rhsub_pool=${rh_infra_pool_id}

ocp_admin=${ocp_admin}

registry_storage_account_name=${registry_storage_account_name}
registry_storage_account_key=${registry_storage_account_key}

[etcd]
${ocp_cluster_prefix}-master-[1:${ocp_master_count}].${ocp_dns_zone_name} openshift_node_group_name='node-config-master'

[infra]
${ocp_cluster_prefix}-infra-[1:${ocp_infra_count}].${ocp_dns_zone_name} openshift_node_group_name='node-config-infra'
[infra:vars]
rhsub_ak=${rh_activation_key}
rhsub_orgid=${rh_org}
rhsub_pool=${rh_infra_pool_id}

[nodes]
${ocp_cluster_prefix}-node-[1:${ocp_node_count}].${ocp_dns_zone_name} openshift_node_group_name='node-config-compute'
[nodes:children]
infra
masters

[OSEv3:children]
masters
etcd
nodes
infra

[OSEv3:vars]
openshift_release="3.11"
openshift_deployment_type=openshift-enterprise

openshift_install_examples=true

os_sdn_network_plugin_name='redhat/openshift-ovs-networkpolicy'
openshift_docker_options= "-l warn --ipv6=false --disable-legacy-registry --log-driver json-file --log-opt max-size=20M --log-opt max-file=3${openshift_docker_options}"
osm_cluster_network_cidr='${osm_cluster_network_cidr}'
openshift_portal_net='${openshift_portal_net}'
# Configure number of bits to allocate to each host's subnet e.g. 9
# would mean a /23 network on the host.
osm_host_subnet_length=${osm_host_subnet_length}

oreg_auth_user=${oreg_auth_user}
oreg_auth_password=${oreg_auth_password}
rhsub_ak=${rh_activation_key}
rhsub_orgid=${rh_org}
rhsub_pool=${rh_pool_id}

openshift_master_api_port=443
openshift_master_console_port=443

osm_default_node_selector='node-role.kubernetes.io/compute=true'
# default selectors for router and registry services
openshift_router_selector='node-role.kubernetes.io/infra=true'
openshift_registry_selector='node-role.kubernetes.io/infra=true'

openshift_metrics_cassandra_storage_type=dynamic
openshift_metrics_hawkular_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_metrics_cassandra_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_metrics_heapster_nodeselector={"node-role.kubernetes.io/infra":"true"}

openshift_logging_es_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_logging_kibana_nodeselector={"node-role.kubernetes.io/infra":"true"}
openshift_logging_curator_nodeselector={"node-role.kubernetes.io/infra":"true"}



openshift_master_default_subdomain=apps${ocp_dns_base}.${ocp_dns_zone_name}

openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider'}]
openshift_master_htpasswd_users={'${ocp_admin}': '${bcrypt(ocp_admin_password)}'}

openshift_enable_service_catalog=true

openshift_master_cluster_public_hostname=api${ocp_dns_base}.${ocp_dns_zone_name}
openshift_master_cluster_hostname=api-int${ocp_dns_base}.${ocp_dns_zone_name}
openshift_master_cluster_method=native


ansible_user=${ocp_admin}
ansible_become=yes

openshift_cloudprovider_kind=azure
openshift_cloudprovider_azure_client_id="${azure_client_id}"
openshift_cloudprovider_azure_client_secret="${azure_client_secret}"
openshift_cloudprovider_azure_tenant_id="${azure_tenant_id}"
openshift_cloudprovider_azure_subscription_id="${azure_subscription_id}"
openshift_cloudprovider_azure_cloud=AzurePublicCloud
openshift_cloudprovider_azure_vnet_name=${ocpvnet_name}
openshift_cloudprovider_azure_security_group_name=ocp-node-security-group
openshift_cloudprovider_azure_availability_set_name=ocp-node-availability-set
openshift_cloudprovider_azure_resource_group=${resource_group_name}
openshift_cloudprovider_azure_location=${location}

openshift_storageclass_parameters={'kind': 'managed', 'storageaccounttype': '${ocp_pv_storage_plan}'}

openshift_master_named_certificates=[{"certfile": "/home/${ocp_admin}/certs/api${ocp_dns_base}.${ocp_dns_zone_name}/api${ocp_dns_base}.${ocp_dns_zone_name}.cer", "keyfile": "/home/${ocp_admin}/certs/api${ocp_dns_base}.${ocp_dns_zone_name}/api${ocp_dns_base}.${ocp_dns_zone_name}.key", "cafile": "/home/${ocp_admin}/certs/api${ocp_dns_base}.${ocp_dns_zone_name}/ca.cer"}]
openshift_hosted_router_certificate={"cafile": "/home/${ocp_admin}/certs/apps${ocp_dns_base}.${ocp_dns_zone_name}/ca.cer", "certfile": "/home/${ocp_admin}/certs/apps${ocp_dns_base}.${ocp_dns_zone_name}/apps${ocp_dns_base}.${ocp_dns_zone_name}.cer", "keyfile": "/home/${ocp_admin}/certs/apps${ocp_dns_base}.${ocp_dns_zone_name}/apps${ocp_dns_base}.${ocp_dns_zone_name}.key"}

# Setup metrics
openshift_metrics_server_install=true
openshift_metrics_install_metrics=true

# Setup logging
openshift_logging_install_logging=true
openshift_logging_es_memory_limit=8Gi
openshift_logging_es_pvc_dynamic=true

os_firewall_use_firewalld=True
openshift_enable_olm=true

container_runtime_extra_storage='[{"device":"/dev/sdd","path":"/var/lib/origin/openshift.local.volumes","filesystem":"xfs","options":"gquota"}]'
container_runtime_docker_storage_type=overlay2
